@import url("https://fonts.googleapis.com/css2?family=Alata:wght@400");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Alata", sans-serif;
}
/* header */
header {
  background-image: url("./images/mobile/image-hero.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}
.header-title {
  text-transform: uppercase;
  position: relative;
  top: 30%;
  min-width: 290px;
  padding: 20px;
  border: 2px solid white;
  font-family: "Josefin Sans", sans-serif;
}
.hamburger-menu {
  background-image: url("./images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 34px;
  height: 23px;
}
/* nav menu */
.menu ul {
  display: none;
}
.nav {
  position: relative;
}
li {
  cursor: pointer;
  position: relative;
  letter-spacing: 1.2px;
}
/* main */
.main-img {
  background-image: url("./images/mobile/image-interactive.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}
p {
  color: hsl(0, 0%, 55%);
}
/* imgs */
.imgs-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.img {
  cursor: pointer;
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  box-shadow: inset 46px 0px 100px rgb(0 0 0 / 79%);
}
.img-text {
  z-index: 2;
  position: absolute;
  width: 170px;
  left: 1.6rem;
  bottom: 2rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.1;
}
.img-creation1 {
  background-image: url("./images/mobile/image-deep-earth.jpg");
  background-size: cover;
  background-position: center;
}
.img-creation2 {
  background-image: url("./images/mobile/image-night-arcade.jpg");
}
.img-creation3 {
  background-image: url("./images/mobile/image-soccer-team.jpg");
}
.img-creation4 {
  background-image: url("./images/mobile/image-grid.jpg");
}
.img-creation5 {
  background-image: url("./images/mobile/image-from-above.jpg");
}
.img-creation6 {
  background-image: url("./images/mobile/image-pocket-borealis.jpg");
}
.img-creation7 {
  background-image: url("./images/mobile/image-curiosity.jpg");
}
.img-creation8 {
  background-image: url("./images/mobile/image-fisheye.jpg");
}
/* btn */
.button {
  border: 2px solid black;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0.5rem 3rem;
  margin: 2.5rem auto;
}
.button:focus-visible {
  box-shadow: 0 0 0 4px #3c82fa;
}
.desktop-btn {
  display: none;
}
/* footer */
.copyright {
  color: hsl(0, 0%, 55%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 55%);
}
.attribution a {
  color: hsl(0, 0%, 55%);
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .copyright { */
.links-mobile {
  margin-bottom: 2rem;
}
.links-desktop {
  display: none;
}
/* show */
.show {
  display: block;
}
.show .hamburger-menu {
  background-image: url("./images/icon-close.svg");
}
.show ul {
  z-index: 2;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  gap: 1.8rem;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
/* hover */
@media (hover) {
  .button:hover {
    background-color: black;
    color: white;
  }
  .img:hover:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
  }
  .img:hover .img-text {
    color: black;
  }
  li:hover:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid white;
    display: block;
    height: 12px;
    width: 50%;
    left: 25%;
    margin: 0 auto;
    text-align: center;
  }
  .nav-links li:hover:after {
    width: 100%;
    left: 0;
  }
  .nav-links li:hover:after {
    width: 100%;
    left: 0;
  }
  .social-links li:hover:after {
    width: 100%;
    left: 0;
  }
  @media (min-width: 1024px) {
    .nav-links li:hover:after {
      width: 50%;
      left: 25%;
    }
  }
}
@media (min-width: 1024px) {
  /* header desktop */
  .menu-icon {
    display: none;
  }
  .menu ul {
    display: flex;
    gap: 1.5rem;
    position: relative;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
  }
  .header-title {
    font-size: 5rem;
    max-width: 38rem;
  }
  /* main desktop */
  .main-img {
    background-image: url(./images/desktop/image-interactive.jpg);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 60%;
    height: 100%;
  }
  .first-section .container {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0%;
    background: white;
    padding: 2rem;
    padding-bottom: 0;
    width: 50%;
  }
  .first-section {
    position: relative;
    min-height: 500px;
    margin-top: 6rem;
  }
  section {
    margin-bottom: 6rem;
  }
  .section-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
  .section-title h2 {
    padding: 0;
  }
  .desktop-btn {
    display: block;
    margin: 0;
  }
  .mobile-btn {
    display: none;
  }
  /* imgs desktop */
  .imgs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .img {
    /* height: 450px; */
    height: 540px;
    width: 20%;
  }
  .img-creation1 {
    background-image: url("./images/desktop/image-deep-earth.jpg");
    background-size: cover;
    background-position: center;
  }
  .img-creation2 {
    background-image: url("./images/desktop/image-night-arcade.jpg");
  }
  .img-creation3 {
    background-image: url("./images/desktop/image-soccer-team.jpg");
  }
  .img-creation4 {
    background-image: url("./images/desktop/image-grid.jpg");
  }
  .img-creation5 {
    background-image: url("./images/mobile/image-from-above.jpg");
  }
  .img-creation6 {
    background-image: url("./images/desktop/image-pocket-borealis.jpg");
  }
  .img-creation7 {
    background-image: url("./images/desktop/image-curiosity.jpg");
  }
  .img-creation8 {
    background-image: url("./images/desktop/image-fisheye.jpg");
  }
  /* footer desktop*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 3rem 8rem;
    padding-bottom: 1rem;
  }
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-top img {
    margin: 0;
  }
  .links-desktop {
    display: flex;
  }
  .links-mobile {
    display: none;
  }
  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
  }
  .footer-menu {
    display: flex;
    flex-direction: row;
  }
}
